PUSHBULLET_API=TOKEN
PUSHBULLET_DEVICE_ID=DEVICE_ID
WATCHDOG_STILL_ALIVE_MINUTES=180
MOST_API_URL_1=https://api1.example.com
MOST_API_URL_2=https://api2.example.com
MOST_API_URL_3=https://api3.example.com